<div class="about-main">
  <h2>GOMAYAKUKIとは</h2>
  <p>明治19年創業のごま総合メーカー「九鬼産業」の伝統あるごまをたっぷり使用した,世界一濃厚を目指した”超濃厚”「ごまアイス」です。
    1つあたり、ごまを約9,000粒使用した濃いゴマアイスに、香り高いごま油といりごまをかけて味わう、まったく新しいアイスの楽しみ方を提案します
  </p>
  <img class="about-img" src="/about.jfif">

</div>
