<header>
  <div class="header-logo">
    GOMAYAKUKI
  </div>
  <ul class="header-menus">
    <li>GOMAYAKUKIとは</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>GOMAYAKUKI</h2>
    <p>世界一濃いゴマアイス</p>

  </div>

</div>
