<header>
  <div class="header-logo">
    <a href="/">GOMAYAKUKI</a>
  </div>
  <ul class="header-menus">
    <li>
      <a href="/about">GOMAYAKUKIとは</a>
    </li>
  </ul>
</header>

<div class="main posts-index">
  <div class="container">
    <div class="posts-index-item">
      ゴマラテの作成手順
    </div>
    <div class="posts-index-item">
      チーズケーキの作り方
    </div>
  </div>
</div>
